<div class="flex flex-col gap-4 mb-4 sm:flex-row">
  <label class="input input-bordered flex items-center gap-2 w-full sm:w-auto">
    <input
      [(ngModel)]="searchName"
      (ngModelChange)="applyFilters()"
      placeholder="Search by name"
      type="text"
      class="grow"
      placeholder="Search"
    />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="h-4 w-4 opacity-70"
    >
      <path
        fill-rule="evenodd"
        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
        clip-rule="evenodd"
      />
    </svg>
  </label>

  <select
    [(ngModel)]="filterWorkoutType"
    (ngModelChange)="applyFilters()"
    class="select select-primary w-full md:w-fit"
  >
    <option value="">All workout types</option>
    <option value="Running">Running</option>
    <option value="Cycling">Cycling</option>
    <option value="Swimming">Swimming</option>
    <option value="Yoga">Yoga</option>
  </select>
</div>

<div class="overflow-x-auto w-full">
  <table class="table table-zebra mb-4 w-full text-left md:text-center">
    <thead class="text-lg text-green-400">
      <tr>
        <th>Name</th>
        <th>Workout Types</th>
        <th>Minutes</th>
        <th>Total Workout Time (Minutes)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of paginatedUsers">
        <td>{{ user.name }}</td>
        <td>
          <div *ngFor="let workout of user.workouts">
            <div
              *ngIf="
                workout.type === filterWorkoutType || filterWorkoutType === ''
              "
            >
              {{ workout.type }}
            </div>
          </div>
        </td>
        <td>
          <div *ngFor="let workout of user.workouts">
            <div
              *ngIf="
                workout.type === filterWorkoutType || filterWorkoutType === ''
              "
            >
              {{ workout.minutes }}
            </div>
          </div>
        </td>
        <td>{{ user.totalWorkoutMinutes }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="w-fit mx-auto">
  <div class="join">
    <button
      (click)="goToPreviousPage()"
      [disabled]="currentPage === 1"
      class="join-item btn"
    >
      «
    </button>
    <button class="join-item btn">
      Page {{ currentPage }} of {{ getTotalPages() }}
    </button>
    <button
      (click)="goToNextPage()"
      [disabled]="currentPage * itemsPerPage >= filteredUsers.length"
      class="join-item btn"
    >
      »
    </button>
  </div>
</div>

<div *ngIf="searchName" class="max-w-sm p-10 mx-auto">
  <app-user-chart [users]="filteredUsers"></app-user-chart>
</div>
